body {
    font-family: Arial, sans-serif;
    background-image: url('img/multitatareas.png');
    background-size: 40%; /* Hace que la imagen cubra todo el fondo */
    background-position: center center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen no se mueva al hacer scroll */
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #8de790;
    color: rgb(10, 10, 10);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 600px; /* Ancho fijo del header */
    margin: 0 auto; /* Esto centra el header horizontalmente */
}

.container {
    padding: 50px;
}

.container h2 {
    font-size: 28px;
    color: #333;
}

.buttons {
    margin-top: 30px;
    padding: 100px;
}

.buttons button {
    padding: 15px 25px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #45a049;
}